body{
    background-color:rgb(17, 29, 34);
    color:white;
}
#img_cont{
    background-color:rgb(25, 43, 57);
    height: 200px;
    width: 200px;
    border-radius: 19px;
}
#Father{
    height: 90%;
    width: 90%;
    margin-top: 10px;
    border-radius: 19px;
}
h1{
    color:rgb(244, 80, 181);
}
#img_cont:hover{
    height:205px;
    width:205px;
    background-color:rgb(41, 67, 87);
}
.people{
    border:none;
    height:30px;
    background-color: rgb(253, 74, 217);
    color:white;
}
.people:hover{
    border:none;
    height:32px;
    background-color: rgb(137, 30, 115);
    color:white;
}